.app {
    display: flex;
    overflow: hidden;
    background-color:  #F0F2F5;
}

.navBar {
    flex: 0.2;
    background-color: rgb(0, 21, 41);;
}

.main {
    flex: 0.8;
    width: 100%;
    padding: 1rem 2rem;

}

@media screen and (max-width: 800px) {
    .app {
        flex-direction: column;
    }
    .main {
        padding :1rem;
    }
    
}